<?xml version="1.0" encoding="utf-16"?>
<SqlToGraphiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Clients>
    <Client name="statsdudp" port="8125" />
    <Client name="graphiteudp" port="2003" />
    <Client name="graphitetcp" port="2003" />
    <Client name="def" port="1234" />
  </Clients>
  <templates>
    <WorkItems Role="Default">
      <TaskSet frequency="10">
        <Task path="Test.Owain.London.Dev.Servers.%h.Cpu.PercentProcessorTime" sql="SELECT PercentProcessorTime FROM Win32_PerfFormattedData_PerfOS_Processor WHERE Name=&quot;_Total&quot;" connectionstring="localhost" type="SqlToGraphite.Plugin.Wmi.WmiClient, SqlToGraphite.Plugin.Wmi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Cpu" client="graphiteudp" />
        <Task path="Test.Owain.London.Dev.Servers.%h.Cpu.PercentProcessorTime" sql="SELECT PercentProcessorTime FROM Win32_PerfFormattedData_PerfOS_Processor WHERE Name=&quot;_Total&quot;" connectionstring="localhost" type="SqlToGraphite.Plugin.Wmi.WmiClient, SqlToGraphite.Plugin.Wmi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Cpu" client="graphiteudp" />
      </TaskSet>
      <TaskSet frequency="120">
        <Task path="Test.Owain.London.Dev.Servers.%h.Disk.PercentFreeSpace" sql="SELECT PercentFreeSpace, Name FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk Where Name &lt;&gt; &quot;_Total&quot;" connectionstring="localhost" type="SqlToGraphite.Plugin.Wmi.WmiClient, SqlToGraphite.Plugin.Wmi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="PercentFreeSpace" client="graphiteudp" />
      </TaskSet>
    </WorkItems>
    <WorkItems Role="Trumps">
      <TaskSet frequency="60">
        <Task path="Test.Owain.Rotherham.Production.Trumps" sql="select GETDATE() ,count(*) as Pending FROM [TDPF].[dbo].[TDPF_RRC_PrintMessage]" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="QueuedMessages" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps" sql="select GETDATE(), count(*) as active from [TDPF].[dbo].[TDPF_ControllerInfo_Table] where active=1" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="ActiveWindows" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps" sql="select GETDATE(), count(*) as active from [TDPF].[dbo].[TDPF_ControllerInfo_Table] where active=0" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="InActiveWindows" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps" sql="SELECT GETDATE(), COUNT(*) AS openShifts from [TDPF].[dbo].[TDPF_SDCIShifts] WHERE [EndShiftDateTime] IS NULL" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="OpenShifts" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" sql="select GETDATE(),  count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn] &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('TOD','TOD-T')" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="TOD" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" sql="select GETDATE(),  count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn] &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('PAH')" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="PAH" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" sql="select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn]  &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('PTP')" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" name="PYO" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" sql=" select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn] &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('RFD')" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Refunds" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" sql="select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn]  &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and ([MessageRouter] in ('STD') or  [MessageRouter] like ('%SPECD%'))" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Post" client="graphiteudp" />
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" sql="select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn]  &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and not ([MessageRouter] in ('STD','RFD','PTP','PAH','TOD','TOD-T') or  [MessageRouter] like ('%SPECD%'))" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" type="SqlToGraphite.Plugin.SqlServer.SqlServerClient, SqlToGraphite.Plugin.SqlServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Other" client="graphiteudp" />
      </TaskSet>
    </WorkItems>
    <WorkItems Role="Special">
      <TaskSet frequency="5" />
    </WorkItems>
  </templates>
  <hosts>
    <host name="DEFAULT">
      <role name="Default" />
    </host>
    <host name="Server1">
      <role name="WebServer" />
    </host>
    <host name="Server2">
      <role name="WebServer" />
    </host>
    <host name="TTL001121">
      <role name="WebServer" />
      <role name="Trumps" />
    </host>
  </hosts>
</SqlToGraphiteConfig>