<?xml version="1.0" encoding="utf-16"?>
<SqlToGraphiteConfig>
  <Jobs>
    <ArrayOfJob xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Job xsi:type="SqlServerClient">
        <Name>GetNumberOfTransactionsASecond</Name>
        <ClientName>GraphiteTcpClient</ClientName>
        <Type>SqlToGraphite.Plugin.SqlServer.SqlServerClient</Type>
        <ConnectionString>some Cs</ConnectionString>
        <Sql>some sql</Sql>
      </Job>
      <Job xsi:type="SqlServerClient">
        <Name>GetNumberOfDeliveryies</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.SqlServer.SqlServerClient</Type>
        <ConnectionString>Data Source=localhost;Initial Catalog=Master;User Id=sa;Password=!bcde1234;</ConnectionString>
        <Sql>SELECT 234 , DATEADD(day,11,GETDATE())</Sql>
      </Job>
      <Job xsi:type="WmiPlugin">
        <Name>CpuLoad</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>WmiPlugin</Type>
        <Sql>w1Sql</Sql>
        <Hostname>w1Hostname</Hostname>
      </Job>
      <Job xsi:type="WmiClient">
        <Name>NameOfTheJOb</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>Localhost</Hostname>
        <Path>Some.Path</Path>
        <Sql>SELECT AvailableMBytes FROM Win32_PerfFormattedData_PerfOS_Memory</Sql>
        <Password />
      </Job>
      <Job xsi:type="OracleTransactions">
        <Name>Name</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>Plugin.Oracle.Transactions.OracleTransactions</Type>
        <MetricName>MetricName</MetricName>
        <ConnectionString>Data Source=10.40.10.168:80/ttl6dbm2;User Id=E03;Password=password</ConnectionString>
        <Path>Some.Path</Path>
        <NumberOfSecondsInThePast>60</NumberOfSecondsInThePast>
      </Job>
      <Job xsi:type="WmiClient">
        <Name>Wmi_Memory_AvailableMBytes</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Memory.AvailableMBytes.%h</Path>
        <Sql>SELECT AvailableMBytes FROM Win32_PerfFormattedData_PerfOS_Memory</Sql>
        <Password />
      </Job>
	  <Job xsi:type="WmiClient">
        <Name>Wmi_Memory_AvailableMBytes</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Memory.AvailableMBytes.%h</Path>
        <Sql>SELECT AvailableMBytes FROM Win32_PerfFormattedData_PerfOS_Memory</Sql>
        <Password />
      </Job>
	  <Job xsi:type="WmiClient">
        <Name>Wmi_Disk_AvgDiskQueueLength</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Disk.AvgDiskQueueLength.%h</Path>
        <Sql>SELECT AvgDiskQueueLength FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk where name ="_Total"</Sql>
        <Password />
      </Job>
	   <Job xsi:type="WmiClient">
        <Name>Wmi_Disk_PPercentFreeSpace</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Disk.PercentFreeSpace.%h</Path>
        <Sql>SELECT PercentFreeSpace, Name FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk Where Name &lt;&gt; "_Total"</Sql>
        <Password />
      </Job>
	  <Job xsi:type="WmiClient">
        <Name>Wmi_Network_NetworkBytePerSecond</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Network.BytesTotalPersec.%h</Path>
        <Sql>select BytesTotalPersec , Name from Win32_PerfFormattedData_Tcpip_NetworkInterface</Sql>
        <Password />
      </Job>
	  <Job xsi:type="WmiClient">
        <Name>Wmi_Network_ConnectionsEstablished</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Network.ConnectionsEstablished.%h</Path>
        <Sql>select ConnectionsEstablished from Win32_PerfFormattedData_Tcpip_TCPv4</Sql>
        <Password />
      </Job>   
	  <Job xsi:type="WmiClient">
        <Name>Wmi_Cpu_NumberOfThreads</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Cpu.NumberOfThreads.%h</Path>
        <Sql>select Threads from Win32_PerfRawData_PerfOS_System</Sql>
        <Password />
      </Job>
	   <Job xsi:type="WmiClient">
        <Name>Wmi_Cpu_NumberOfProcesses</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Cpu.NumberOfThreads.%h</Path>
        <Sql>select Processes from Win32_PerfRawData_PerfOS_System</Sql>
        <Password />
      </Job>
      <Job xsi:type="WmiClient">
        <Name>Wmi_Cpu_Sophos</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Cpu.Sophos.%h</Path>
        <Sql>SELECT PercentProcessorTime FROM win32_perfformatteddata_perfproc_process WHERE Name="SavService"</Sql>
        <Password />
      </Job>
	  <Job xsi:type="WmiClient">
        <Name>Wmi_Cpu_PercentProcessorTime</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphite.Plugin.Wmi.WmiClient</Type>
        <Username />
        <Hostname>localhost</Hostname>
        <Path>London.Dev.Servers.Cpu.Sophos.%h</Path>
        <Sql>SELECT PercentProcessorTime FROM Win32_PerfFormattedData_PerfOS_Processor WHERE Name="_Total"</Sql>
        <Password />
      </Job>
    </ArrayOfJob>
  </Jobs>
  <Clients>
    <ArrayOfClient xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Client xsi:type="GraphiteTcpClient" Hostname="metrics.london.ttldev.local" ClientName="GraphiteTcpClient" Port="2003" />
      <Client xsi:type="GraphiteUdpClient" Hostname="metrics.london.ttldev.local" ClientName="GraphiteUdpClient" Port="2003" />
    </ArrayOfClient>
  </Clients>
  <Hosts>
    <ArrayOfHost xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Host Name="TTL001121">
        <Roles>
          <Role Name="ProductionTests" />
          <Role Name="default" />
        </Roles>
      </Host>
      <Host Name="Server1">
        <Roles>
          <Role Name="default" />
          <Role Name="SqlTests" />
        </Roles>
      </Host>
    </ArrayOfHost>
  </Hosts>
  <Templates>
    <ArrayOfTemplate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Template>
        <WorkItems>
          <WorkItems RoleName="ProductionTests">
            <TaskSet>
              <TaskSet Frequency="1000">
                <Tasks>
                  <Task JobName="GetNumberOfTransactionsASecond" />
                  <Task JobName="NameOfTheJOb" />
                  <Task JobName="GetNumberOfDeliveryies" />
                </Tasks>
              </TaskSet>
              <TaskSet Frequency="2000">
                <Tasks>
                  <Task JobName="GetNumberOfTransactionsASecond" />
                  <Task JobName="NameOfTheJOb" />
                </Tasks>
              </TaskSet>
            </TaskSet>
          </WorkItems>
          <WorkItems RoleName="default">
            <TaskSet>
              <TaskSet Frequency="2000">
                <Tasks>
                  <Task JobName="GetNumberOfDeliveryies" />
                </Tasks>
              </TaskSet>
            </TaskSet>
          </WorkItems>
          <WorkItems RoleName="SqlTests">
            <TaskSet>
              <TaskSet Frequency="3000">
                <Tasks>
                  <Task JobName="CpuLoad" />
                </Tasks>
              </TaskSet>
            </TaskSet>
          </WorkItems>
        </WorkItems>
      </Template>
    </ArrayOfTemplate>
  </Templates>
</SqlToGraphiteConfig>