@model ConfigManager.Models.ClientsViewModel
          

@{
    ViewBag.Title = "View Clients";    
}

<h2>title</h2>

@Html.Partial("Display")

Add new Client 
@using (Html.BeginForm("Add","Clients",FormMethod.Post))
{        
    @Html.TextBoxFor(x => x.Client.Name)
    @Html.TextBoxFor(x => x.Client.Port)
    <input type = "submit" value = "Add" name = "ClientPort" />     
}

<br />
<br />