<?xml version="1.0" encoding="utf-16"?>
<SqlToGraphiteConfig xmlns="SqlToGraphite_0.0.0.1"> 
  <Jobs>
    <ArrayOfJob xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
      <Job xsi:type="OracleTransactions">
        <Name>E03_TracsTransactionCounter</Name>
        <ClientName>GraphiteUdpClient</ClientName>
        <Type>SqlToGraphitePlugin.TracsTransactionCount.OracleTransactions</Type>
        <MetricName>MetricName</MetricName>
        <ConnectionString>VxlQquob6hdGuNh7t2LfZTBqxDjBhrOfScw7Kn4UfRv0cyXGgrk5E5Ar9VFQEndJQhRt5j7u9vObtpWzKlB/4DOAFRwVI2fGOIGfX7OS0wVII8Ft8wnUMFxkKkeb/mXmD91zKh7AcUrsqaonTgJduq4D3NnUYEWbyoPfEWTNzHRxIV3FejA53OHzp7Jm8yNE</ConnectionString>
        <Path>Test.Tracs.Transactions.1m</Path>
        <NumberOfSecondsInThePast>60</NumberOfSecondsInThePast>
      </Job>	  	  
    </ArrayOfJob>
  </Jobs>
  <Clients>
    <ArrayOfClient xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
      <Client xsi:type="GraphiteTcpClient" Hostname="metrics.london.ttldev.local" ClientName="GraphiteTcpClient" Port="2003" />
      <Client xsi:type="GraphiteUdpClient" Hostname="metrics.london.ttldev.local" ClientName="GraphiteUdpClient" Port="2003" />
    </ArrayOfClient>
  </Clients>
  <Hosts>
    <ArrayOfHost xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Host Name="TTL001121">
        <Roles>
          <Role Name="default" />
          <Role Name="OracleTransactionCounter" />
        </Roles>
      </Host>     
    </ArrayOfHost>
  </Hosts>
  <Templates>
    <ArrayOfTemplate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Template>
        <WorkItems>         
          <WorkItems RoleName="OracleTransactionCounter">
            <TaskSet>
              <TaskSet Frequency="60">
                <Tasks>
                  <Task JobName="E03_TracsTransactionCounter" />
                </Tasks>
              </TaskSet>
            </TaskSet>
          </WorkItems>
          <WorkItems RoleName="default">
            <TaskSet>
              <TaskSet Frequency="10">
                <Tasks>
                 <!-- <Task JobName="GetNumberOfDeliveryies" />
                  <Task JobName="Wmi_Memory_AvailableMBytes" />
                  <Task JobName="Wmi_Disk_AvgDiskQueueLength" />
                  <Task JobName="Wmi_Disk_PercentFreeSpace" />
                  <Task JobName="Wmi_Network_NetworkBytePerSecond" />
                  <Task JobName="Wmi_Network_ConnectionsEstablished" />
                  <Task JobName="Wmi_Cpu_NumberOfThreads" />
                  <Task JobName="Wmi_Cpu_NumberOfProcesses" />
                  <Task JobName="Wmi_Cpu_Sophos" />
                  <Task JobName="Wmi_Cpu_PercentProcessorTime" />-->
                </Tasks>
              </TaskSet>
            </TaskSet>
          </WorkItems>         
        </WorkItems>
      </Template>
    </ArrayOfTemplate>
  </Templates>
</SqlToGraphiteConfig>