<?xml version="1.0" encoding="utf-8"?>
<SqlToGraphiteConfig>
  <Clients>
    <Client name="statsdudp" port="8125" />
    <Client name="graphiteudp" port="2003" />
    <Client name="graphitetcp" port="2003" />
  </Clients>
  <templates>
    <WorkItems Role="Default">
      <TaskSet frequency="10">
        <Task  path="Test.Owain.London.Dev.Servers.%h.Cpu.PercentProcessorTime"  sql='SELECT PercentProcessorTime FROM Win32_PerfFormattedData_PerfOS_Processor WHERE Name="_Total"'  connectionstring="localhost"  type="wmi"  name="Cpu" client="graphiteudp" />
        <Task  path="Test.Owain.London.Dev.Servers.%h.Cpu.PercentProcessorTime"  sql='SELECT PercentProcessorTime FROM Win32_PerfFormattedData_PerfOS_Processor WHERE Name="_Total"'  connectionstring="localhost"  type="wmi"  name="Cpu" client="graphiteudp" />
        <!--<Task  path="Test.Owain.London.Dev.Servers.%h.Memory.AvailableMBytes" sql='SELECT AvailableMBytes FROM Win32_PerfFormattedData_PerfOS_Memory'  connectionstring="localhost"  type="wmi"  name="AvailableMBytes" client="graphiteudp" />
        <Task  path="Test.Owain.London.Dev.Servers.%h.Disk.AvgDiskQueueLength" sql='SELECT AvgDiskQueueLength FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk where name ="_Total"'  connectionstring="localhost"  type="wmi"  name="AvgDiskQueueLength" client="graphiteudp" />
        <Task  path="Test.Owain.London.Dev.Servers.%h.Network.BytesTotalPersec" sql='select BytesTotalPersec , Name from Win32_PerfFormattedData_Tcpip_NetworkInterface'  connectionstring="localhost"  type="wmi"  name="Network" client="graphiteudp" />
        <Task  path="Test.Owain.London.Dev.Servers.%h.Network.ConnectionsEstablished" sql='select ConnectionsEstablished from Win32_PerfFormattedData_Tcpip_TCPv4'  connectionstring="localhost"  type="wmi"  name="Network" client="graphiteudp" />
        <Task  path="Test.Owain.London.Dev.Servers.%h.Cpu.NumberOfThreads" sql='select Threads from Win32_PerfRawData_PerfOS_System'  connectionstring="localhost"  type="wmi"  name="Threads" client="graphiteudp" />
        <Task  path="Test.Owain.London.Dev.Servers.%h.Cpu.NumberOfProcesses" sql='select Processes from Win32_PerfRawData_PerfOS_System'  connectionstring="localhost"  type="wmi"  name="Processes" client="graphiteudp" />-->
        <!--<Task  path="Test.Owain.London.Dev.Servers.%h.ContextSwitchesPersec" sql='select ContextSwitchesPersec from Win32_PerfRawData_PerfOS_System'  connectionstring="localhost"  type="wmi"  name="ContextSwitchesPersec" client="graphiteudp" />-->
      </TaskSet>    
      <TaskSet frequency="120">
        <Task  path="Test.Owain.London.Dev.Servers.%h.Disk.PercentFreeSpace"  sql='SELECT PercentFreeSpace, Name FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk Where Name &lt;&gt; "_Total"'  connectionstring="localhost"  type="wmi"  name="PercentFreeSpace" client="graphiteudp" />        
      </TaskSet>
    </WorkItems>
    <WorkItems Role="Trumps">     
      <TaskSet frequency="60">
        <Task path="Test.Owain.Rotherham.Production.Trumps" name="QueuedMessages" type="sqlserver" client="graphiteudp" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE() ,count(*) as Pending FROM [TDPF].[dbo].[TDPF_RRC_PrintMessage]" />
        <Task path="Test.Owain.Rotherham.Production.Trumps" name="ActiveWindows" type="sqlserver" client="graphiteudp"  connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(), count(*) as active from [TDPF].[dbo].[TDPF_ControllerInfo_Table] where active=1"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps" name="InActiveWindows" type="sqlserver" client="graphiteudp"  connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(), count(*) as active from [TDPF].[dbo].[TDPF_ControllerInfo_Table] where active=0"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps" name="OpenShifts" type="sqlserver" client="graphiteudp"  connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="SELECT GETDATE(), COUNT(*) AS openShifts from [TDPF].[dbo].[TDPF_SDCIShifts] WHERE [EndShiftDateTime] IS NULL"/>        
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" name="TOD" type="sqlserver" client="graphiteudp"  connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(),  count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn] &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('TOD','TOD-T')"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" name="PAH" type="sqlserver" client="graphiteudp"  connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(),  count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn] &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('PAH')"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" name="PYO"  type="sqlserver" client="graphiteudp" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn]  &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('PTP')"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" name="Refunds"  type="sqlserver" client="graphiteudp" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql=" select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn] &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and [MessageRouter] in ('RFD')"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" name="Post"  type="sqlserver" client="graphiteudp" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn]  &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and ([MessageRouter] in ('STD') or  [MessageRouter] like ('%SPECD%'))"/>
        <Task path="Test.Owain.Rotherham.Production.Trumps.Messages" name="Other"  type="sqlserver" client="graphiteudp" connectionstring="Data Source=10.244.100.169;Initial Catalog=TDPF;User Id=supportro;Password=5upportr0;" sql="select GETDATE(), count(*) from TDPF_RRC_PrintMessage_archive where [CompletedOn]  &gt;= dateadd(dd, datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) AND [CompletedOn] &lt;  dateadd(dd, 1+datediff(dd, 0, CURRENT_TIMESTAMP)+0, 0) and not ([MessageRouter] in ('STD','RFD','PTP','PAH','TOD','TOD-T') or  [MessageRouter] like ('%SPECD%'))"/>
      </TaskSet>     
    </WorkItems>
    <WorkItems Role="Special">
      <TaskSet frequency="5">
        <!--<Task  path="Test.Owain.wi.Special"  sql="select 12 , DATEADD(day,11,GETDATE())"  connectionstring="Data Source=localhost;Initial Catalog=Master;User Id=sa;Password=!bcde1234;"  type="sqlServer"  name="name" client="graphiteudp" />-->
      </TaskSet>
    </WorkItems>
  </templates>
  <hosts>
    <host name="DEFAULT">
      <role name="Default"/>      
    </host>
    <host name="Server1">
      <role name="WebServer" />
    </host>   
    <host name="Server2">
      <role name="WebServer" />
    </host>
    <host name="TTL001121">
      <role name="WebServer" />
      <role name="Trumps" />
    </host>
  </hosts>
</SqlToGraphiteConfig>